:root {
  --background: #FFFFFF;
  --foreground: #1A051A;
  --card: #FAFAFA;
  --card-foreground: #1A051A;
  --popover: #FFFFFF;
  --popover-foreground: #1A051A;
  --primary: #5D1F65;
  --primary-foreground: #FFFFFF;
  --secondary: #F3E5AB;
  --secondary-foreground: #3D2B00;
  --muted: #F1F5F9;
  --muted-foreground: #64748B;
  --accent: #D4AF37;
  --accent-foreground: #1A051A;
  --destructive: #EF4444;
  --destructive-foreground: #FFFFFF;
  --border: #E2E8F0;
  --input: #E2E8F0;
  --ring: #5D1F65;
  --radius: 0.75rem;
  --input-background: #2d2d2d;
  --switch-background: #cbced4;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-size: 16px;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
}

.dark {
  --background: #0F020F;
  --foreground: #FAFAFA;
  --card: #1A051A;
  --card-foreground: #FAFAFA;
  --popover: #1A051A;
  --popover-foreground: #FAFAFA;
  --primary: #7B2C85;
  --primary-foreground: #FFFFFF;
  --secondary: #3D2B00;
  --secondary-foreground: #F3E5AB;
  --muted: #1E293B;
  --muted-foreground: #94A3B8;
  --accent: #D4AF37;
  --accent-foreground: var(--foreground);
  --destructive: #7F1D1D;
  --destructive-foreground: #FAFAFA;
  --border: #33103A;
  --input: #33103A;
  --ring: #D4AF37;
}
